.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.card {
  background-color: #e4e4e4;
  padding: 0em 1em;
  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
  max-width: 450px;
  width: 100%;
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.header-card {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  background: linear-gradient(to bottom, #e4e4e4, #e4e4e4);
}

.body-card {
  padding: 0 1.5rem;
}

.footer-card {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}